<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436277947185-grko2bu3cr61v8ms0frhmf5urau8dmvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436277947185-grko2bu3cr61v8ms0frhmf5urau8dmvh</string>
	<key>API_KEY</key>
	<string>AIzaSyAjkY985TqCukKNNfVSM04qrWpt48LNh4U</string>
	<key>GCM_SENDER_ID</key>
	<string>436277947185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.englishTestApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>english-test-app</string>
	<key>STORAGE_BUCKET</key>
	<string>english-test-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436277947185:ios:9023239940cc55de9bde10</string>
</dict>
</plist>